@model IEnumerable<ETicket.Models.Events>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
</nav>
@if (ViewBag.cart != null)
{
    <h2>Your cart</h2>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Ticket</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.cart)
                        {

                        <tr>
                            <td class="col-sm-6 col-md-6">
                                @foreach (var ev in Model.Where(x => x.EventId == item.Ticket.EventId))
                                {
                                    <h4>@ev.EventName</h4>
                                }
                            </td>
                            <td class="col-sm-4 col-md-4">
                                <div class="media">
                                    @*@foreach (var photo in Model.Where(x => x.EventId == item.Ticket.EventId))
                {
                    @if (photo.PhotoEvents.Count > 1)
                    {
                        @foreach (var photo2 in photo.PhotoEvents.Where(p => p.EventId == item.Ticket.EventId))
                        {
                            @if (photo2.PhotoEventDefault)
                            {
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@photo2.Photo.PhotoUrl" style="width: 80px; height: 80px;"> </a>
                            }
                        }
                    }
                    else
                    {
                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/emptyProduct.jpg" style="width: 80px; height: 80px;"> </a>
                    }
                }*@
                                    <div class="media-body">

                                        <h4 class="media-heading">@item.Ticket.TicketName</h4>
                                        @*<h4 class="media-heading"><a asp-controller="Events" asp-action="Details" asp-route-id="@item.Ticket.EventId"> @item.Ticket.Event.EventName</a></h4>*@
                                        @*<h4 class="media-heading"><a asp-controller="Events" asp-action="Details" asp-route-id="@item.Tickets.EventId">@item.Tickets.TicketName</a></h4>*@
                                        @*<h5 class="media-heading"> code <b>@item.Product.ProductCode</b></h5>*@
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                @*<input id="@item.Product.ProductId" type="number" min="1" step="1" max="@item.Product.ProductAvailability" value="@item.Quantity" class="form-control" /> from @item.Product.ProductAvailability*@
                                <span>@item.Quantity</span>
                            </td>
                            <td class="col-sm-2 col-md-2 text-center">
                                @item.Ticket.TicketPrice$
                            </td>
                            <td class="col-sm-2 col-md-2 text-center"><strong id="@item.Ticket.TicketId">@(item.Ticket.TicketPrice * item.Quantity)$</strong></td>
                            <td class="col-sm-2 col-md-2">
                                <a class="btn btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Ticket.TicketId">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                                </a>
                            </td>
                        </tr>
                        }
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td></td>
                            <td class="text-right" colspan="2"><h3>Total: <strong>@ViewBag.total$</strong></h3></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <a class="btn btn-default" asp-controller="Events" asp-action="Index">
                                    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Continue Shopping
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Cart" asp-action="Order">
                                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Order
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="danger text-center">Your Cart is empty!</h1>
}
<p class="text-danger">@ViewBag.ErrorMessage</p>

<div id="divResult"></div>

@*@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">
        function updateLabel() {
            var number = parseInt($(this).find('.Price').text(), 10);
            var number2 = parseInt($(this).find('.Quantity').text(), 10);

            var Total = number * number2;
            document.getElementById('SubTotal').innerHTML = Total.toString();
        }

        $(document).ready(function () {
            $('input').change(function () {

                alert($(this).val());
                alert($(this).attr('id'));
                alert($('#onePrice').innerHTML())



                $('#divResult').html(result);
            });
        });
    </script>
}*@
