@model ETicket.Models.Purchases

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseTicketDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseTicketDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delivery.DeliveryType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ticket.TicketName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PurchaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
